@charset "utf-8";
/* CSS Document */
body{
	height:100%;
	width:100%;
	background-repeat:no-repeat ;
	background-size:100% 100%;
	background-attachment: fixed;
}
.header{
	width:100%;
	height: 100px;
}
.header.logo{
	float:left;
	margin-left: 70px;
}
.container{
	top:20%;
	width: 100%;
	height:500px;
	text-align:center;
	
}
.tip{
	width: 100%;
	height: 200px;
	text-align:center;
	color: #FFFFFF;
	opacity: 0.8;
	font-size: 100px;
	font-weight: 100;
	
}
.container.three{
	width:100%;
	height: 300px;
}
.three{
	color: #FFFFFF;
	font-size: 30px;
	height: 100px;
	
}
a{
	text-decoration: none;
	background-color:cornflowerblue;
	background-size:30%;
	text-align: center;
	color: white;
	padding: 3px 4px;
	margin-top: 12%;
	
}
span{
	margin:20px 100px;

}
.footer{
	height: 90px;
	width: 100%;
	margin-left: 1150px;
	font-size: 20px;
	color: white;
}