@charset "utf-8";
*{
	margin:0;
	padding:0;
}
body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img {
    margin: 0;
    padding: 0;
}

body, html {
    font-size: 16px;
    font-family: "微软雅黑";
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.header   {
	background-color:#363a45;
}
.header .container .row h3{
	color:#FFF;
	font-weight:bold;
	font-size:32px;
	display:inline-block;
	padding-top: 13px;
}

.header .container .row1{
	display:inline-block;
	float:right;
	margin-top: 22px;
	margin-right: -30px;
}
.header .container .row1 .dropdown{
	background-color: #363a45;
	color:#FFF;
	font-size:10px;
}
#menu {
  overflow: hidden;
  height: 100%;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#menu #ensconce {
  /*隐藏菜单样式*/
  width: 0.35rem;
  height: 100%;
  background-color: #20343c;
  float: left;
  text-align: center;
  position: relative;
  display: none;
}
#menu #ensconce h2 {
  cursor: pointer;
  color: #44495a;;
  font-size: 0.24rem;
  line-height: 0.5rem;
  width: 100%;
  position: absolute;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(0%, -50%);
  
}
#menu #ensconce h2 img {
  width: 52%;
}
#menu #open {
  /*显示菜单样式*/
  width: 2.6rem;
  height: 100%;
  background-color: #363a45;
  padding-bottom: 0.1rem;
  box-sizing: border-box;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
}
#menu #open .navH {
  height: 0.6rem;
  background-color: #44495a;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.2rem;
  color: #fff;
  position: relative;
  box-sizing: border-box;
}
#menu #open .navH span {
  position: absolute;
  top: 49%;
  right: 0;
  padding: 0 0.15rem;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: inline-block;
}
#menu #open .navH span .obscure {
  width: 0.24rem;
}
#menu #open .navBox {
  height: 100%;
  overflow-y: auto;
  padding-left: 0.05rem;
  padding-right: 0.07rem;
  margin-top: 0.1rem;
}
#menu #open .navBox ul li {
  background-color: #393c4a;
  cursor: pointer;
  margin-bottom: 4px;
}
#menu #open .navBox ul li .obtain {
	background-color: #3889D4; 
}

#menu #open .navBox ul li .obtain1 {
	background-color: #3D8332; 
}
#menu #open .navBox ul li h2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.15rem;
  padding: 0.15rem 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
}
#menu #open .navBox ul li h2 i {
  position: absolute;
  top: 50%;
  right: 0.15rem;
  border-top: 0.07rem transparent dashed;
  border-left: 0.07rem solid #fff;
  border-right: 0.07rem transparent dashed;
  border-bottom: 0.07rem transparent dashed;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  -o-transition: -o-transform 0.6s ease;
  -ms-transition: -ms-transform 0.6s ease;
  transform-origin: 4px 3px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
#menu #open .navBox ul li h2 .arrowRot {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#menu #open .navBox ul li .secondary {
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
}
#menu #open .navBox ul li .secondary h3 {
  padding: 0.1rem 0;
    text-align: center;
    font-size: 0.13rem;
    background-color: #282c3a;
    color: #ffffff;
    border-bottom: 0.8px solid #42495d;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
#menu #open .navBox ul li .secondary h3:hover {
  background-color: #1acbfc;
}
#menu #open .navBox ul li .secondary .seconFocus {
  background-color: #1acbfc;
  -webkit-box-shadow: 3px 3px 3px #aa8c51;
  -moz-box-shadow: 3px 3px 3px #aa8c51;
  box-shadow: 3px 3px 3px #aa8c51;
}

.btn{
	background-color: #363a45;
	font-size:20px;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;}
	
.exit{
	margin-left:30px;
	color: #e2e2e2;
}
.header .container.exit{
	color: #e2e2e2;
}
/*定位居中*/
.middle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a {
    color: #3e3e3e;
    text-decoration: none;
}

img, input, button, textarea {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em, u {
    font-style: normal;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}


.left{
	width:23%;
	float:left;
	height: 100%;
	
}
/*
.left a:hover{
	 color:#bd0a01;
  	text-decoration:underline;
}
.left .menu{
	overflow:hidden;
  	border-color:#C4D5DF;
  	border-style:solid;
  	border-width:0 1px 1px;
}
.left .menu li.level1 a{
	display:block;
  	height:43px;
  	line-height:43px;
  	background:#399F96BA;
  	font-size:17px;
 	color:#FFFFFFBD;
  	text-indent:14px;
  	border-top:1px solid #C4D5DF;
	text-align:center;
}
.left .menu li.level1 a:hover{
	text-decoration:none;
}
.left .menu li.level1 a.current{
  	background:#9DD7D3;
}
  
.left .menu li ul{
  	overflow:hidden;
}
.left .menu li ul.level2{
  	display:none;
}
.left .menu li ul.level2 li a{
  	display:block;
  	height:28px;
  	line-height:28px;
  	background:#c9efec;
  	font-weight:400;
  	color:#42556B;
  	text-indent:18px;
  	border-top:0px solid #ffffff;
  	overflow:hidden;
}
.left .menu li ul.level2 li a:hover {
	color:#f60;
}*/

.right{
	float:left;
	height: 100%;
	
}
.right .title{
	height:100px;
	
}
.right .title .box1{
	margin:20px;
	float: left;
	height: 100px;
	width: 250px;	
	background-color:#FC6;
}
.right .title .box2{
	margin: 20px;
	float: left;
	height: 100px;
	width: 250px;	
	background-color:#6CF;
}
.right .title .box3{
	margin: 20px;
	float: left;
	height: 100px;
	width: 250px;	
	background-color:#9F0;
}
.right .title a{
	font-size:26px;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	display:block;
	margin-top:30px;
	}
	
.right .content{
	height: 450px;
	width: 900px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top:40px;
	border:dotted;
}
