@charset "utf-8";
body{
	background-image:url(../img/bg.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
}
#show{
	font-size:80px;
	margin-top:100px;
}
.container .row .text{
	margin:30% 12%;
}
.btn{
width: 100px;
height: 100px;
font-size: 35px;
margin-left: 50px;
color: #fff;
background-color: #000;
}
a{
	text-decoration:none;
}
.btn1{
	color: #FFF0;
	background-color:transparent;
}

p{
	display:inline-block;
}